<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>EWD 2026</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  {% include dependencies.html %}

  <link rel="stylesheet" href="{{ "/css/page.css" | url }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
    integrity="sha512-f5HTYZYTDZelxS7LEQYv8ppMHTZ6JJWglzeQmr0CVTS70vJgaJiIO15ALqI7bhsracojbXkezUIL+35UXwwGrQ=="
    crossorigin="anonymous"></script>
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  {% include header.html %}
  {% include landing.html %}
  <br>
  <br>
  <br>
  <main id="content-wrapper" class="content">
    <div id="sidebar-wrapper">
      <div id="sticky-sidebar" class="sidebar">
        <h2>EWD 2026</h2>
        <ol>
          <li class="side-nav"><a href="#about">About</a></li>
          <li class="side-nav"><a href="#registration">Registration</a></li>
          <li class="side-nav"><a href="#directions">Directions</a></li>
          <li class="side-nav"><a href="#instructions">Schedule</a></li>
          <li class="side-nav"><a href="#orgs">Community Expo</a></li>
          <li class="side-nav"><a href="#more-events">More Activities</a></li>
          <li class="side-nav"><a href="#faq">FAQ</a></li>
        </ol>
      </div>
    </div>
    <div class="content" id="main-body">
      {% include info.html %}
    </div>
  </main>

  <br>
  <br>
  <br>

  {% include footer.html %}

  <script src="{{ "/js/plugins.js" | url }}"></script>
  <script src="{{ "/js/main.js" | url }}"></script>

  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-178402682-1', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
