<header>
    <a href="http://esuc.ucla.edu/" id="esuc-logo"><img src="img/blue-logo.png" alt="ESUC Logo"></a>
    <a href="http://esuc.ucla.edu/" id="esuc-logo"><img src="img/yellow-logo.png" alt="ESUC Logo"></a>
    <nav>
        <ul id="nav-bar">
            <li class="header-link"><a href="#about" class="hide-link">about</a></li>
            <li class="header-link"><a href="https://forms.gle/nNxCerpuFu8giCq76" target="_blank" class="hide-link">register</a></li>
        </ul>
    </nav>
</header>
