<header>
    <a href="http://esuc.ucla.edu/" id="esuc-logo"><img src="img/blue-logo.png" alt="ESUC Logo"></a>
    <a href="http://esuc.ucla.edu/" id="esuc-logo"><img src="img/yellow-logo.png" alt="ESUC Logo"></a>
    <nav>
        <ul id="nav-bar">
            <li class="header-link"><a href="#about" class="hide-link">about</a></li>
            <li class="header-link"><a href="#orgs" class="hide-link">orgs</a></li>
            <li class="header-link"><a href="https://www.eventbrite.com/e/2022-engineering-welcome-day-ewd-tickets-404901139207?utm[…]tm-medium=discovery&utm-term=listing&utm-source=cp&aff=escb" class="hide-link">rsvp</a></li>
        </ul>
    </nav>
</header>