<div>
    <section id="about">
        <h1>About</h1>
        <p>Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer
            students, hosted by the Engineering Society at UCLA (ESUC). Students will have the opportunity to learn
            about UCLA's School of Engineering, meet fellow engineering students, and hear from engineering faculty.
            Students will also have the opportunity to learn about the 40+ student organizations in attendance.
        </p>
        <p>
            Engineering Welcome Day (EWD) will be <b> in person</b>. It will take place in the <b> Court of Sciences </b>, on September 22nd, 2021 (Wednesday of Week 0), from <b>9AM - 1PM</b>. A <b>second session</b> (to accommodate physical distancing) will occur between <b>2PM - 6PM</b>. 
        </p>
        <p>
            The event is split between two activities. The first activity is <b>live presentations</b> by administration and staff from 9:00AM - 10:30AM for session 1 and 2:00PM - 3:30PM for session 2. The second activity is a <b>resource exploration fair</b> from 11:00AM - 12:30PM for session 1 and 4:00PM - 5:30PM for session 2. 
        </p>
        <p>
            The fair will be hosted in collaboration with <i>MentorSEAS</i> and <i>Engineering Ambassadors</i>. MentorSEAS will be available to meet with their mentees, be available to answer questions, assist with the flow of the event, and give direction to attendees.  Engineering Ambassadors will be available to host walking-tours of UCLA Engineering for attendees to get to explore the School.  
        </p>
        <p id="rsvp">
            To ensure that you will receive a link for the event, RSVP <a
                href="https://forms.gle/JjmyW9VPGUK4ZaWQA">here</a> as soon as possible. We hope to see you
            there!
        </p>
    </section>
    <hr>
    <section id="schedule">
        <h1>Schedule</h1>
        <table class="tg" style="undefined;table-layout: fixed; width: 412px">
            <colgroup>
                <col style="width: 141px">
                <col style="width: 271px">
            </colgroup>
            <thead>
                <tr>
                    <th class="tg-an7l"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000">Time</span></th>
                    <th class="tg-an7l"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000">Activity</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">8:00 - 9:00 AM</span></td>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Set Up</span></td>
                </tr>
                <tr>
                    <td class="tg-5aua" colspan="2"><span style="font-weight:400;font-style:italic;text-decoration:none;color:#000">Session 1</span></td>
                </tr>
                <tr>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">9:00 - 10:30 AM</span></td>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Presentations</span></td>
                </tr>
                <tr>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">10:30 - 12:30 PM</span></td>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Resource Exploration Fair &amp; Ambassador Tours (at designated times)</span></td>
                </tr>
                <tr>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">12:30 - 1:30 PM</span></td>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">MentorSEAS Family Introductions &amp; Individualized Class Tours</span></td>
                </tr>
                <tr>
                    <td class="tg-8o0v"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">1:00 - 2:00 PM</span></td>
                    <td class="tg-8o0v"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000">Lunch Break</span></td>
                </tr>
                <tr>
                    <td class="tg-26lt" colspan="2"><span style="font-weight:400;font-style:italic;text-decoration:none;color:#000">Session 2</span></td>
                </tr>
                <tr>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">2:00 - 3:30 PM</span></td>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Presentations</span></td>
                </tr>
                <tr>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">3:30 - 5:30 PM</span></td>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Resource Exploration Fair &amp; Ambassador Tours (at designated times)</span></td>
                </tr>
                <tr>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">5:30 - 6:30 PM</span></td>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">MentorSEAS Family Introductions &amp; Individualized Class Tours</span></td>
                </tr>
                <tr>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">6:00 - 7:00 PM</span></td>
                    <td class="tg-baqh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Clean Up</span></td>
                </tr>
            </tbody>
        </table>
    </section>
    <hr>
    <section id="speakers">
        <h1>Speakers</h1>
        <p>EWD begins with opening remarks and important information from several distinguished members of the Engineering community. View the recording and lists of speakers below:</p>
        <iframe width="560" height="315" id="video-embed" src="https://www.youtube.com/embed/tUx5cFdtMjY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% include speakers.html %}
    </section>
    <hr>
    <section id="orgs">
        <h1>Organizations</h1>
        <p>Our virtual club fair features over 40 clubs and student organizations that are eager to meet you! Scroll down to see tabling information, or search the full list of organizations in attendance. Click on any of the organizations to learn more! </p>
    </section>
</div>